.modal {
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    display: none;
}

.modal__container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}

.modal__close {
    background-image: url(../images/Close-Icon.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% +5px);
    top: -45px;
    right: -45px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.modal__opened {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close:hover {
    opacity: 60%;
}

.modal__title{
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    width: 358px;
    height: 23px;
    margin: 0;
    padding-top: 34px;
    justify-content: center;
}

.modal__form {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36.51px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    outline: none;
    width: 358px;
}

.modal__input {
    border: none;
    border-bottom: rgba(000, 000, 000, 0.2) 1px solid;
    height: 100%;
    padding: 0;
    max-height: 27.26px;
}

.modal__input:last-of-type {
    margin-top: 29.74px;
    margin-bottom: 48px;
}

.modal__button{
    background-color: #000;
    min-height: 51px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    border-radius: 2px;
    border: #000 0px;
    color: #fff;
    cursor: pointer;
}

.modal__button:hover {
    opacity: 80%;
}

@media screen and (max-width: 619px) {
    .modal{
        padding-left: 19px;
        padding-right: 19px;
    }

    .modal__close {
        width: 26px;
        height: 26px;
        top: -40px;
        right: 8px;
    }

    .modal__container {
        width: 282px;
        height: 322px;
    }

    .modal__form {
        width: 238px;
        margin-top: 75px;
        margin-bottom: 25px;
    }

    .modal__title {
        width: 238px;
        padding-left: px;
        padding-top: 25px;
        line-height: 21.78px;
        font-size: 18px;
    }

    .modal__input:last-of-type {
        margin-top: 30px;
        margin-bottom: 45px;
    }
    
    .modal__button {
        padding-left: 36px;
        padding-right: 36px;
        width: auto;
        height: 46px;
    }
}