.header {
  margin-top: 45px;
  border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
}

.header__logo {
  padding-bottom: 41px;
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 540px) {
  .header__logo {
    max-height: 33px;
    min-height: 24px;
    height: auto;
    max-width: 173px;
    min-width: 126px;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 28px;
    max-height: 56px;
  }
  .header__logo {
    width: 80%;
    max-width: 126px;
    min-width: auto;
    min-height: auto;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}
