.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__avatar-edit-button {
  position: absolute;
  background: transparent url("../images/Vector.svg") center no-repeat;
  width: 26px;
  height: 26px;
  top: 47px; 
  left: 47px;
  border: none;
  opacity: 0;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.2);
  transition:  0.5s ease-in-out;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
 cursor: pointer;
}

.profile__edit-button {
  background: transparent url(../images/Edit-Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: white solid 1px;
  margin-left: 18px;
  margin-right: min(20px, auto);
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/Add-Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: #ffffff solid 2px;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  margin: 0;
  padding-top: 7px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__image:hover {
  opacity: 0.8;
}

.profile__avatar-container {
    position: relative;
}

.profile__avatar-edit-button {
  position: absolute;
  background: transparent url("../images/Vector.svg") center no-repeat;
  width: 26px;
  height: 26px;
  top: 47px; 
  left: 47px;
  border: none;
  opacity: 0;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.2);
  transition:  0.3s ease-in-out;
}

@media screen and (max-width: 795px) {
  .profile {
    min-width: 450px;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 282px) auto;
  }

  .profile__edit-button {
    margin-left: 10px;
    margin-right: 12px;
  }

  .profile__title {
    font-size: 32px;
    line-height: 1.2;
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    min-width: auto;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    padding-bottom: 36px;
    padding-top: 30px;
    max-width: 282px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    padding-left: 43px;
  }

  .profile__description {
    text-align: center;
  }

  .profile__add-button {
    max-width: 282px;
    width: 100%;
    margin: 0;
    min-width: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  .profile__title {
    max-width: 196px;
  }

  .profile__description {
    max-width: 282px;
    padding-top: 14px;
  }
}
